* { margin: 0; padding: 0; box-sizing: border-box;}
body {font-family: 'Bricolage Grotesque', sans-serif;}
ul ,ol{list-style: none;padding:0;margin:0;}
.container{max-width: 1280px;margin: 0 auto;padding: 0 20px;}
.eventura-header {width: 100%;position: relative;z-index: 1000;display: flex;justify-content: space-between;align-items: center;color: #fff;margin-bottom: -165px;}
.navbar {flex: 1;padding: 12px 40px;}
.navbar-collapse {justify-content: center;}
nav ul {list-style: none;display: flex;gap: 25px;margin: 0;padding: 0;}
nav ul li a { color: #fff !important; text-decoration: none; font-weight: 500; transition: color 0.3s;}
nav ul li a:hover {color: #ffb400;}
.contact-btn {background-color: #9b6cd4;color: #fff;padding: 10px 20px;border-radius: 30px;text-decoration: none;white-space: nowrap;}
.navbar-brand img{height:100%;}
.navbar-brand{height:80px;}
/* Banner */

.banner {position: relative;  }
.banner img {width: 100%;height:700px;display: block;object-fit: cover;}
.banner .overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6); z-index: 1;}
.banner-content {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align: center;color: white;width:1000px;z-index:1;}
.banner-content h1 {font-size:64px;font-weight: 700;margin-bottom: 10px;}
.banner-content p {font-size: 20px;margin-bottom:40px;}
.banner-content .get-started-btn {background-color: #9b6cd4;color: white;padding: 12px 25px;border-radius: 30px;text-decoration: none;font-weight: 500;}

/* Services Section */

.services-section {padding: 60px;background-color: #fff7ed;}
.services-section h2 {font-size: 48px;font-weight: 600;text-align: center;margin-bottom: 16px;}
.services-section p {text-align: center;margin-bottom: 40px;}

/* Grid container */
.services-grid {display: grid;grid-template-columns:repeat(6,1fr);grid-template-rows: repeat(5,120px);gap: 20px;}
.service-card {position: relative;overflow: hidden;border-radius: 15px;cursor: pointer;}
.service-card img {width: 100%;height: 100%;object-fit: cover;display: block;}
.services-overlay {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.4);z-index: 2; opacity: 1;}
.service-content {position: absolute; bottom: 0;left: 0;right: 0;background: rgba(20, 20, 18, 0.85);color: #fff;padding: 15px;z-index: 3; text-align:left;transition: all 0.3s ease;}
.service-content h3 {font-size: 1.5rem;margin-bottom: 10px;text-align: center;}
.service-card:hover .services-overlay {opacity: 0;}
.service-card:hover .service-content {color: #ffb400;}
.card4 { grid-column: span 2 / span 2; grid-row: span 2 / span 2; }
.card5 { grid-column: span 2 / span 2; grid-row: span 3 / span 3; grid-column-start: 1; grid-row-start: 3; }
.card6 { grid-column: span 2 / span 2; grid-row: span 3 / span 3; grid-column-start: 3; grid-row-start: 1; }
.card7 { grid-column: span 2 / span 2; grid-row: span 2 / span 2; grid-column-start: 3; grid-row-start: 4; }
.card9 { grid-column: span 2 / span 2; grid-row: span 2 / span 2; grid-column-start: 5; grid-row-start: 1; }
.card10 { grid-column: span 2 / span 2; grid-row: span 3 / span 3; grid-column-start: 5; grid-row-start: 3; }

/* About Section */

.about-section {padding: 100px 0;background-color: #fff;}
.about-content {display: flex;align-items: center;gap: 50px;}
.about-image img { width: 100%; max-width:500px; border-radius: 16px; box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);height:100%;}
.about-text h2 {font-size: 32px;font-weight: 700;margin-bottom: 20px;color: #222;}
.about-text p {color: #555;line-height: 1.7;margin-bottom: 15px;}
.learn-more-btn {display: inline-block;background-color: #f6b800;color: #fff;padding: 12px 25px;border-radius: 25px;font-weight: 600;text-decoration: none;transition: all 0.3s ease;}
.learn-more-btn:hover {background-color:transparent !important;border: 2px solid #f6b800;color:#141412;}
.about-list li{list-style:disc;margin-left:20px;margin-bottom:10px;}

 /* vision section */
  .vision-mission-section {background: #fffaf4;padding: 80px 20px;text-align: center;}
  .section-title {font-size: 2.2rem;font-weight: 700;color: #1d1d1d;margin-bottom: 60px;position: relative;}
  .vm-grid {display: grid;grid-template-columns: 1fr 1fr;gap: 40px;max-width: 1000px;margin: 0 auto;}
  .vm-box {background: #ffffff;border-radius: 16px;padding: 40px;box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);text-align: left;}
  .vm-box h3 {color: #f8b400;font-size: 1.6rem;margin-bottom: 20px;}
  .vm-box p {font-size: 1rem;color: #333;line-height: 1.7;}



/* Clients Section */

.clients-section {padding: 60px 40px;text-align: center;background-color: #f9f9f9;}
.rundimg {border-radius: 50%;width: 60px;height: 60px;margin:0 auto;}
.cards-grid {display: grid;grid-template-columns: repeat(3, 1fr);gap: 30px;align-items: start;margin-top:50px;}
.center-column {display: flex;flex-direction: column;align-items: center;gap: 20px;}
.discover-heading {font-size: 28px;color: #141412;margin-bottom: 15px;}
.center-cards {display: flex;flex-direction: row;gap: 25px;justify-content: center;flex-wrap: nowrap;}
.center-cards .card {flex: 1;min-width: 270px; }
.card { background-color: #141412; color: #fff; padding:30px; border-radius: 20px; text-align: center;}
.card span { font-size: 18px; font-weight: 600; margin:8px 0px; color: #f3efff; display: block;}
.card h4 {font-size: 16px;color: #f3efff;font-weight: 400;margin: 16px 0px 24px 0px !important;}
.card p {font-size: 16px;color: #aca0cf;}
.rund-bg{background-color:#ffffff;color:#141412;width:50px;height:50px;border-radius:50%;display:flex;align-items:center;justify-content:center;font-size:24px;font-weight:700;margin:0 auto 10px auto;}

/* Gallery section */

.gallery-section {padding: 80px 0;text-align: center;font-family: 'Roboto', sans-serif;}
.gallery-section h2 { font-size: 2.2rem; font-weight: 700; color: #222; margin-bottom:24px;}
.gallery-grid {display: grid;grid-template-columns:repeat(7,1fr);grid-template-rows: repeat(4,120px);gap:16px;}
.gallery-item {position: relative;overflow: hidden;box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);transition: transform 0.4s ease, box-shadow 0.4s ease;}
.gallery-item img {width: 100%;height: 100%;display: block;object-fit: cover; transition: transform 0.6s ease;}
.gallery-item:hover .gallery-overlay{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.6); z-index: 1;}
.img4 { grid-column: span 2 / span 2; grid-row: span 2 / span 2; }
.img5 { grid-column: span 1 / span 1; grid-row: span 2 / span 2; grid-column-start: 1; grid-row-start: 3;margin-right:-80px; }
.img6 { grid-column: span 2 / span 2; grid-row: span 2 / span 2; grid-column-start: 3; grid-row-start: 1; }
.img7 { grid-column: span 2 / span 2; grid-row: span 2 / span 2; grid-column-start: 3; grid-row-start: 3;margin-left:-100px; }
.img9 { grid-column: span 3 / span 3; grid-row: span 2 / span 2; grid-column-start: 5; grid-row-start: 1; }
.img10 { grid-column: span 2 / span 2;grid-row: span 2 / span 2; grid-column-start: 6; grid-row-start: 3;margin-left:-180px; }
.gallery-item:hover img {transform: scale(1.1);}

/* Footer Styles */

.eventura-footer {background-color: #222;color: #fff;padding: 50px 0 20px;}
.footer-grid {display: grid;grid-template-columns: minmax(0, 500px) repeat(3, 1fr);gap: 10px;}
.footer-container { display: flex; justify-content: space-between; flex-wrap: wrap; margin: 0 auto; padding: 0 40px;}
.footer-about h3 {font-size: 22px;color: #ffb400;margin-bottom: 15px;}
.footer-about p { max-width:400px;}
.footer-links h4,.footer-social h4,.footer-contact h4 {font-size: 18px;color: #ffb400;margin-bottom: 10px;}
.footer-links ul li {margin-bottom: 8px;}
.footer-links ul li a {color: #ddd;text-decoration: none;transition: color 0.3s;}
.footer-links ul li a:hover {color: #ffb400;}
.footer-contact p { margin: 6px 0; color: #ccc; font-size:14px;}
.footer-contact a{color:#ccc;}
/* Social icons */
.footer-social a { display: inline-block; margin: 0 23px; transition: transform 0.3s ease;}
.footer-social a:nth-child(1){margin-left:0;}
.footer-social img { width:20px; height:20px; filter: brightness(0) invert(1); transition: filter 0.3s ease, transform 0.3s ease;}
/* .footer-social a:hover img {filter: brightness(1) invert(0);transform: scale(1.1);} */
.social-icons{display: flex;}

/* Footer bottom */

.footer-bottom {text-align: center;border-top: 1px solid #444;padding-top: 15px;margin-top: 20px;font-size: 14px;color: #aaa;}

/* mobile responsive  */


@media screen and (max-width: 768px) {

/* banner */
  .banner{margin-top:0px !important;}
  .banner-content h1{font-size:32px !important;}
  .banner-content p{font-size:16px;}
  .banner img{height:600px;object-fit:cover;}
  .banner-content{width:100% !important;padding:0 20px;}

  /* services section */
  .services-section h2{font-size:32px !important;}
  .services-grid {grid-template-columns:repeat(2,1fr);grid-template-rows: auto;gap: 15px;}
  .service-card {grid-column: auto !important;grid-row: auto !important;width: 100%;height: auto;}
  .service-card img {height: 250px; object-fit: cover;}
  .service-content h3{font-size:1rem !important;}
  .services-section{padding:30px 0px !important;}

  /* about section */
  .about-section{padding:50px 0px !important;}
  .learn-more-btn{margin:0 auto;display:block;text-align:center;}
  .about-text h2{text-align:center;}

  .vm-grid {grid-template-columns: 1fr; }
  .vm-box h3{text-align: center;}
  .vm-box{padding:20px !important}
  .vision-mission-section{padding:40px 10px !important;}
  
  /* .about-section .row{flex-direction: column-reverse !important;gap:20px !important;} */

  /* clients section */
  .center-column {align-items: center;text-align: center;order:-1;}
  .discover-heading {font-size:18px;margin-bottom: 10px;}
  .center-cards {flex-direction: column; align-items: center;gap: 20px;width: 100%;}
  .center-cards .card {width: 100%;}
  .card {width: 100%;padding:16px;}
  .rundimg {width: 50px;height: 50px;margin:0 auto;}
  .clients-section{padding:30px 0px !important;}
  .card span{margin-bottom:0px !important;}
  .card h4{margin:8px 0px 16px 0px !important;}

  /* gallery section */

  .gallery-grid {grid-template-columns:repeat(2,1fr); grid-template-rows: auto;gap: 15px;justify-items: center; }
  .gallery-item {grid-column: auto !important;grid-row: auto !important;width: 100%;max-width: 380px;margin: 0 auto !important;}
  .gallery-item img {height: 250px;object-fit: cover;}
  .img4,.img5,.img6,.img7,.img9,.img10 { margin: 0 !important;}
  .gallery-section h2 {font-size: 1.8rem;}
  .gallery-section{padding:40px 0px !important;}
  /* footer */
  .footer-grid{grid-template-columns: minmax(0, 500px) repeat(1, 1fr) !important;}
}


@media screen and (max-width:767px) {

  .navbar {padding: 12px 0px !important;}
  .navbar-collapse {display: none; position: absolute; top: 100%; left: 0; width: 100%; background: #fff; padding: 20px 0; z-index: 999; transition: all 0.3s ease;}
  .navbar-collapse.show {display: block;}
  .mobile-menu-header {display: flex;justify-content: space-between;align-items: center;padding: 0 20px 20px;border-bottom: 1px solid #ccc;}
  .close-btn {font-size: 30px;cursor: pointer;color: #000;}
  .navbar-collapse .nav-link {display: block;padding: 10px 20px;color: #000 !important;}
  .navbar-toggler {border: 2px solid #fff;background: none;font-size: 30px;color: #fff;outline: none;}
  .hide-elements {display: none !important;}
  .section-title{margin-bottom:45px !important;font-size:1.5rem;}
  .navbar-brand{height:60px;}
  /* clients section */
  .cards-grid {grid-template-columns:1fr !important;gap: 20px;margin-top:20px !important;}
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cards-grid {grid-template-columns: repeat(2, 1fr);gap: 25px;margin-top: 30px;}
  .center-column {grid-column: 1 / -1; order: -1; text-align: center;align-items: center;}
  .discover-heading {font-size: 22px;margin-bottom: 12px;}
  .center-cards {flex-wrap: wrap;justify-content: center;gap: 20px;flex-direction: row;}
  .center-cards .card {width: 80%;}
  .card {padding: 24px;}
  .rundimg{margin:0 auto;}
  .about-text p{font-size:14px !important}

}
@media screen and (max-width: 1024px) {
  .img7{margin-left:-55px;}
  .img10{margin-left:-135px;}
}





.popup-slider {
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  position: relative;
  width:100%;
  max-width:500px;
}

.popup-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}


.close-popup {
  position: absolute;
  top:0;
  right:-50px;
  color:#fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}
.swiper-wrapper{align-items:center;}